.borderResume{
    border-radius: 14px 0px 0px ;
    background: #e28383;
    padding: 10px;
}
.borderLetter{
    border-radius: 14px 0px 0px ;
    background: #726b6b;
    padding: 10px;
}
.borderEnvitation{
    border-radius: 14px 0px 0px ;
    background: #5f3e3e;
    padding: 10px;
}
.borderPresent{
    border-radius: 14px 0px 0px ;
    background: #7c3737;
    padding: 10px;
}
.left p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: #726b6b;
}
.left label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: #726b6b;
}
.sideImage{
    width: 100%;
    height: 100%;
}
#side-button{
    margin-left: 20em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#hidd-side-image{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sideA{
    background: #e28383;
    border-radius: 12px;
    padding: 15px;
   
}

.sideB{
    background: #264d94;
    border-radius: 12px;
    padding: 10px;
   
}
.full{
    /* width: 90%; */
    background: #7083ec;
    padding: 20px;
    border-radius: 12px;
}
/* .img-side{
    width: 200px;
    height: 190px;
} */

@media only screen and (max-width: 600px) {
.left{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
   *{
    padding: 0;
    margin: 0;
    flex-direction: column;
}   
  .logo{
    padding: 0;
width: 64px;
height: 44px;
padding-top: 40px;
 }    
  #side-button{
    margin: 0;
    display: flex;
 }  
  
 }
   @media only screen and (min-width: 768px) {
    #hidd-side-image{
        width: 120px;
        height: 120px;
    }
   
    
  } 
 

 
  /* new */

  
  /* Create three equal columns that floats next to each other */
  .col{
    float: left;
    width: 33%;
    padding: 8px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .col {
      width: 100%;
    }
  }




  /* new */

  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 20%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

  .box.inner-content h4 {
    color: #997d7d;
    margin-top: -10px;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .box .inner-content span {
    font-size: 16px;
    color: lightblue;
    font-weight: 400;
    font-style: italic;
    display: block;
    margin-bottom: 30px;
  }
  
  .box .img {
    margin-bottom: 28.5px;
  }
  
  .box .thumb  {
    position: relative;
    text-align: center;
  }
  
  .box .thumb img {
    width: 100%;
    overflow: hidden;
  }
  
  .box .thumb  .inner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  
  .box .img .thumb .inner-content h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  .box .thumb .inner-content span {
    font-size: 16px;
    color: #fff;
    font-style: italic;
  }
  
  .box .thumb .hover-content {
    position: absolute;
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 15px;
    text-align: center;
    background-color: rgba(42,42,42,.97);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .box .thumb :hover .hover-content {
    opacity: 1;
    visibility: visible;
  }
  
  .box .thumb  .hover-content .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .box .thumb .hover-content h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  .box .thumb  .hover-content p {
    color: #fff;
    padding: 0px 20px;
    margin-bottom: 20px;
  }

  .row{
   
    align-items: center;
    justify-content: center;
    /* height: 50vh; */
    margin-left: 1em;
    
    background: linear-gradient(
      rgba(255,255,255,0.7)
      rgba(255,255,255,0.3)
    ),
    url("");
    background-size: cover;
    background-position: center;
  }
  form{
    background-color: white;
    padding: 12px 10px;
    border-radius: 10px;
    width: 100%;
   
  
  }
.rght{
  float: right;
  /* text-align: right; */
  padding: 12px;
}
.box .center{
  text-align: center;
  color: #264d94;
  align-items: center;
}
#hidden{
  visibility: hidden;
}
.box .leftt{
  float: right;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
 
}

tr {
  border-bottom: 1px solid #f3b5b5;

}
.cycle{
  border-radius: 50%;
  width: 100px;

}
.A{
  color: #b8720a;
  font-weight: 600;
}
.B{
  color: #54559e;
  font-weight: 600;
}
.hdr{
  background-color: #54559e;
  color: #fff;
  padding: 10px;
  font-weight: 600;
}
.card{
  width: 100%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
}
.new{
width: 70%;

}
.next{
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  border: #264d94;
  border-radius: 12px;
  border-style: double;
}
.xx{
  padding: 0px;
  margin: 0px;
  float: left;
  text-align: left;

}
.l-image{
  width: 100px;
  float: right;
}
.back{

  background: #f0e9e9;


}
.backImages{
  width: 50%;
}
#blanck{
  background-color: #003;
  color: #fff;
}